{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}

<section class="single-product mt-10" style="margin-top: 100px;">
    <div class="container">
        <div class="row mt-20">
            <div class="col-md-5">
                <div class="single-product-slider">
                    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                        <!-- Ajouter ici un carrousel d'images si nécessaire -->
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-details">
                    <h2>{{ produit.nom }}</h2>
                    <p class="product-price">{{ produit.prix|number_format(2, ',', ' ') }} DT</p>

                    <p class="product-description mt-20">
                        {{ produit.description }}
                    </p>
                    <p>Qualité: {{ produit.qualite }}</p>
                    <div class="product-quantity">
                        <span>En Stock: {{ produit.quantiteDisponible }}</span>
                    </div>
                    <p>Date d'ajout: {{ produit.dateAjout ? produit.dateAjout|date('Y-m-d H:i:s') : '' }}</p>
                        <p class="category" style="color: #FF5733;">
    Catégorie : {{ produit.categorie.nom }}
</p>
                    <!-- Affichage de l'image du produit -->
                    <div class="product-image">
                        {% if produit.image %}
                            <img src="{{ asset('uploads/images/' ~ produit.image) }}" alt="Image du produit" class="img-fluid rounded" style="max-width: 300px;">
                        {% else %}
                            <em>Aucune image disponible</em>
                        {% endif %}
                    </div>

                    <div class="col-lg-4 offset-lg-4">
                        <div class="action-buttons">
                            <form action="{{ path('front_products') }}">
                                <button class="btn btn-primary">Retour</button>
                            </form>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
